<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Soy el componente princiapal</h3>
      <hr />
      <app-servers></app-servers>
     <!-- <div app-servers></div> -->  <!--  selector  forma #2 -->
      <!-- <div class="app-servers"></div>  -->  <!--  selector  forma #3 -->

      <p>Ejercicios de estilos  con css en angular y creación de componentes</p>
      <hr />
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
    </div>
  </div>
</div>